{
    "globals": {
        "chrome": "readonly",
        "MathJax": "readonly"
      },
    "parser": "vue-eslint-parser",
    "parserOptions": {
      "parser": "@babel/eslint-parser",
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "extends": [
      "plugin:vue/essential",
      "eslint:recommended"
    ],
    "rules": {
      // 自定义规则
      "no-useless-escape": "off"
    }
  }
  